<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>118771867481-8u2kc4sslndqu81vqkusn35s9rpscrm9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.118771867481-8u2kc4sslndqu81vqkusn35s9rpscrm9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>118771867481-9aocka78c66svi560ak8i0v4dpn034gr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCRkAlEjZ7J_yhdRafXCQ-d6dcZHmHX-50</string>
	<key>GCM_SENDER_ID</key>
	<string>118771867481</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sham.ElectronIQ</string>
	<key>PROJECT_ID</key>
	<string>electron-iq-cross</string>
	<key>STORAGE_BUCKET</key>
	<string>electron-iq-cross.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:118771867481:ios:a637f3b2d3f4c048e7f648</string>
</dict>
</plist>